- if current_user
  %p= link_to "Log Out", "/logout"
  %p= link_to "Update Status", "/status/new"
  
- else
  %p= link_to "Log In", "/auth/identity"
  %p= link_to "Register", "/auth/identity/register"
