.promo.row
  .call-to-action
    %h1 #{Faker::Lorem.words(2).join(' ').titleize}
  .illustration1
    %p Pic goes here
  .illustration2
    %p Pic goes here

.details.row
  .features1
    %h2 Honest Feedback
    %p 
      It can be hard to get really honest feedback from even the most agile 
      teams. Your fellow developers may feel self conscious raising issues in
      a group setting, or even in a on-on-one. Canary makes it easy to get at
      the real truth about team morale.
    
    %h2 No Reprisals
    %p 
      Because updates are anonymous, you don't have to worry about your manager
      thinking of you as a squeaky wheel. Just come in and say how you feel, and
      maybe send your boss a link to the project -- anonymously, of course.
    
  .features2
    %h3 If You See Dilbert, It's Too Late
    %p
      We've all seen the places where Dilbert cartoons adorn every cubicle wall.
      There's a positive correlation between Dilbert cartoons and developer churn.
      Don't let it happen to you!
    
    %h3 #{Faker::Lorem.words.join(' ').titleize}
    %p Get started for only #{ab_test :price_options} a month!
  
  .coming-soon
    %p Pic goes here