<form method='post' action='/auth/identity/callback' noValidate='noValidate'>
<label for='auth_key'>Login:</label>
<input type='text' id='auth_key' name='auth_key'/>
<label for='password'>Password:</label>
<input type='password' id='password' name='password'/><p align='center'><a href='/auth/identity/register'>Create an Identity</a></p>      
<button type='submit'>Connect</button>
</form>