%h1#page-header= t('.page_header')

= simple_form_for invitation, :url => project_invitations_path(project) do |f|
  = f.input :recipient_email
  .actions.input
    = f.button :submit, :class => 'btn primary'

