- project_attr = {  :'data-id' => project.id, 
                    :'data-team-size' => project.users.count, 
                    :'data-mood' => project.average_mood_score || -1,
                    :class => [project.mood || 'puzzled'] << ('mine' if current_user.member_of?(project)) }

%li[project]{project_attr}
  %a{ :href => project_path(project), :title => project.name, :'data-content' => pluralize(project.users.count, 'member')}
    = project.name
    %span.member-count= pluralize(project.users.count, 'member')