-if flash[:alert]
  .alert-message.error= flash[:alert]
  
%h1#page-header= project.name

= link_to "Invite Members", new_project_invitation_path(project)
- if user_signed_in? && current_user.member_of?(project)
  = link_to "Update Mood",  new_project_mood_update_path(project)
  