// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "custom_twitter_bootstrap/variables";
@import "compass_twitter_bootstrap/mixins";
@import "shared/palette";
@import "shared/project";
h1 {
  float: left;
}
h3.members {
  margin-right: $gridColumnWidth + $gridGutterWidth;
  float: right;
  clear: right;
}
h2.mood {
  margin-right: 40px;
  float: right;

  clear: right;
}
.pill-label {
  @include offset(1);
  @include columns(2);
  float: left;
  color: $please;
  text-align: center;
  font-size: 1.25em;
  line-height: $baseline * 2;
}
ul.sort {
  float: left;
  @include columns(8);
  margin-left: $gridGutterWidth;
}
ul.filter {
  float: left;
  @include columns(8);
  margin-left: $gridGutterWidth;
}

#niko-niko {
  @include columns(24);
  height: 420px;
  position: relative;
  text-align: center;
  #calendar {
    @include offset(1);
    background-color: darken($whats_the_matter, 8%);
  }
  ul{
    width: 124px;

    list-style-type: none;
    display: block;
    float: left;
    margin-left: 0;
    margin-bottom: 0;
    &.current {
      background-color: $nature;
    }
    li {
      height: 128px;
      &.date {
        height: $baseline * 2;
        background-color: $spooky-blue;
        color: #f5f5f5;
        text-align: center;
      }
      &.happy {
        background: image-url("happy.png") no-repeat center bottom;
      }
      &.satisfied {
        background: image-url("satisfied.png") no-repeat center bottom;
      }
      &.bored {
        background: image-url("bored.png") no-repeat center bottom;
      }
      &.frustrated {
        background: image-url("frustrated.png") no-repeat center bottom;
      }
      &.unknown {
        background: image-url("puzzled.png") no-repeat center bottom;
      }
    }
  }

  #prev, #next {
    $arrow-height: $baseline * 4;
    width: $gridColumnWidth + $gridGutterWidth;
    height: $arrow-height;
    display: block;
    position: absolute;
    background: $icing;
    top: 50%;
    margin-top: 0 - $arrow-height/2;
  }
  #prev {
    left: 0;
  }
  #next {
    right: 0;
  }
}
.caroufredsel_wrapper {
  border: 1px solid $spooky-blue;
}

#new-project-btn {
  @include offset(1);
}

.row.project-actions{
  background: $whats_the_matter;
  padding-top: $baseline;
  padding-bottom: $baseline;
  text-align:center;
}

.row.projects{
  background: $whats_the_matter;
  .media-grid {
    margin-left: 0;
  }
}

.row.team {
  background: $whats_the_matter;
}

.team ul{
  list-display-style: none;
  li {
    display: block;
    float: left;
  }
}

#page-header {
  @include offset(1);
  margin-top: $baseline * 2;
}

#send-link {
  @include offset(1);
  @include columns(22);
  form {
    padding-top: $baseline;
    @include columns(22);
  }
}
.line_chart {
  @include offset(1);
  display: none;
}

ul.tabs {
  @include offset(1);
  margin-bottom: 0;
  li {
    a { background: $whats_the_matter; text-decoration: none; color: $please;}
    a:hover { background: lighten($whats_the_matter, 5%); color: $please; }
    &.active a { background: darken($whats_the_matter, 8%); color: $spooky-blue;}
    &.active a:hover { background: lighten($whats_the_matter, 10%); color: $spooky-blue;}
  }


}