// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "custom_twitter_bootstrap/variables";
@import "compass_twitter_bootstrap/mixins";
@import "shared/palette";
@import "shared/project";

.row.project-actions{
  background: $whats_the_matter;
  padding-top: $baseline;
  padding-bottom: $baseline;
  text-align:center;
}

.row.projects{
  background: $whats_the_matter;
  .media-grid {
    margin-left: 0;
  }
}

.row.team {
  background: $whats_the_matter;
}

.team ul{
  list-display-style: none;
  li {
    display: block;
    float: left;
  }
}

#page-header {
  @include offset(1);
  margin-top: $baseline * 2;
}